---
layout: policies
title: CheckFreePay State Disclosures
category: All Simple Customers
effective_date: 14 October, 2015
---

<h3>Money Transmitter Licenses</h3>

<p>
  CheckFreePay Corporation and/or its subsidiaries CheckFreePay Corporation of California and CheckFreePay Corporation of New York (collectively, "CheckFreePay") are required by law to post money transmitter licenses and disclosures for certain jurisdictions where the electronic bill payment service is regulated. Note that the electronic bill payment service is regulated in other jurisdictions and is not limited to the states below.
</P>

<dl>

  <dt>Alaska</dt>
  <dd>
    The State of Alaska DCCED will accept all complaints and other concerns , regarding money services licensees, authorized delegates and money services provided by money services licensees and authorized delegates at:
    State of Alaska
    DCCED, Consumer Affairs & Investigations
    550 West 7th Avenue, Suite 1850
    Anchorage, AK 99501-3567
    (907) 269-8140
  </dd>

  <dt>Arizona</dt>
  <dd>
    <a target="_blank" href="<%= asset('checkfreepay-state-disclosures/arizona.pdf') %>">View the Arizona license.</a>
  </dd>

  <dt>Colorado</dt>
  <dd>
    <a target="_blank" href="<%= asset('checkfreepay-state-disclosures/colorado.pdf') %>">View the Colorado notice.</a>
  </dd>

  <dt>Delaware</dt>
  <dd>
    <a target="_blank" href="<%= asset('checkfreepay-state-disclosures/delaware.pdf') %>">View the Delaware license.</a>
  </dd>

  <dt>Florida</dt>
  <dd>
    <a target="_blank" href="<%= asset('checkfreepay-state-disclosures/florida.pdf') %>">View the Florida license.</a>
    <p>
      Florida residents may contact the Florida Office of Financial Regulation with questions or complaints about CheckFreePay Corporation at 200 E. Gaines Street, Tallahassee, FL 32399-0376, phone: (800) 848-3792 (toll free).
    </p>
  </dd>
  
  <dt>Georgia</dt>
  <dd>
    <a target="_blank" href="<%= asset('checkfreepay-state-disclosures/georgia.pdf') %>">View the Georgia license.</a>
  </dd>

  <dt>Illinois</dt>
  <dd>
    Please contact the Illinois Department of Financial Institutions, toll free at (888) 298-8089 for suspected violation of the Illinois Transmitters of Money Act.
  </dd>

  <dt>Maryland</dt>
  <dd>
    The Commissioner of Financial Regulation for the State of Maryland will accept all questions or complaints from Maryland residents regarding CheckFreePay Corporation at the Office of the Commissioner of Financial Regulation
    500 N Calvert Street, Suite 402
    Baltimore, Maryland 21202, phone: 888-784-0136
  </dd>

  <dt>Minnesota</dt>
  <dd>
    <a target="_blank" href="<%= asset('checkfreepay-state-disclosures/minnesota.pdf') %>">View the Minnesota license.</a>
    <h4 class="prominent-type">HELP PREVENT CONSUMER FRAUD!</h4>
    <ul>
      <li>Are you sending money to claim lottery or prize winnings, or on a promise of receiving a large amount of money?</li>
      <li>Are you sending money because you were "guaranteed" a credit card or loan?</li>
      <li>Are you responding to an Internet or phone offer that you aren't sure is honest?</li>
      <li>Are you sending money to someone you don't know or whose identity you can't verify?</li>
      <li>If so, cancel the payment if the payment has not yet processed. Processed payments may not be reversible. Contact consumer assistance at 888-248-0632 for assistance.</li>
    </ul>
  </dd>

  <dt>New Hampshire</dt>
  <dd>
    <a target="_blank" href="<%= asset('checkfreepay-state-disclosures/newhampshire.pdf') %>">View the New Hampshire license.</a>
  </dd>

  <dt>New York</dt>
  <dd>
    CheckFreePay Corporation of New York ("CFP of NY") is licensed and regulated as a Money Transmitter by the New York State Department of Financial Services. For answers to questions or to register a complaint, call toll free 888-248-0632. CFP of NY is located at 15 Sterling Drive, P.O. Box 5044, Wallingford, Connecticut 06492-7544. Any unresolved consumer complaints may be mailed to the New York State Department of Financial Services, Consumer Services Division located at One State Street, New York, NY 10004-1417 (877-226-5697).
  </dd>

  <dt>Oklahoma</dt>
  <dd>
    <a target="_blank" href="<%= asset('checkfreepay-state-disclosures/oklahoma.pdf') %>">View the Oklahoma license.</a>
  </dd>

  <dt>Texas</dt>
  <dd>
    <p>If you have a complaint, first contact CheckFreePay Corporation consumer assistance at 866-248-0632, if you still have an unresolved complaint regarding the company's money transmitter activity, please direct your complaint to: TX Dept. of Banking, 2601 N. Lamar Blvd., Austin, TX 78705, phone: 1-877-276-5554 (toll-free), <a href="https://www.dob.texas.gov">www.dob.texas.gov</a></p>
    <h4 class="prominent-type">HELP PREVENT CONSUMER FRAUD!</h4>
    <ul>
      <li>Are you sending money to claim lottery or prize winnings, or on a promise of receiving a large amount of money?</li>
      <li>Are you sending money because you were "guaranteed" a credit card or loan?</li>
      <li>Are you responding to an Internet or phone offer that you aren't sure is honest?</li>
      <li>Are you sending money to someone you don't know or whose identity you can't verify?</li>
      <li>If so, cancel the payment if the payment has not yet processed. Processed payments may not be reversible. Contact consumer assistance at 888-248-0632 for assistance.</li>
    </ul>
  </dd>

  <dt>Washington</dt>
  <dd>
    Contact CheckFreePay Corporation at 888-248-0632 for assistance with a consumer complaint relative to the electronic bill payment service. For any unresolved consumer complaints, please contact the Washington State Department of Financial Institutions, Division of Consumer Services using one of the three methods:
    <ol>
      <li>File a complaint via online, mail or fax: <a href="http://www.dfi.wa.gov/cs/cscomplaintform.htm">http://www.dfi.wa.gov/cs/cscomplaintform.htm</a></li>
      <li>Call us: 1-877-RING DFI (1-877-746-4334)</li>
      <li>Email us: <a href="mailto:CSEnforceComplaints@dfi.wa.gov">CSEnforceComplaints@dfi.wa.gov</a></li>
    </ol>
  </dd>

</dl>

<h5 class="prominent-type">Bill Payment Scam</h5>
<p>Consumers are being contacted in person and through fliers, social media and text messages with claims that President Obama is providing credits or applying payments to utility bills.
  To receive the money, scammers claim they need the consumers' social security and bank routing numbers. In return, customers are given a bank routing number and a phony account number that will supposedly pay their utility bills. In reality, the account information is fraudulent and any payment applied to your utility bill will be reversed.
  <strong>THIS IS A SCAM! SHOULD YOU BE CONTACTED, PLEASE DO NOT PROVIDE YOUR FINANCIAL AND PERSONAL INFORMATION. ALSO DO NOT ATTEMPT TO UTILIZE THE ACCOUNT INFORMATION THE SCAMMER MAY GIVE YOU.</strong>
</p>
